html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(img/gree-hill-zone.jpg) no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: #95e8f3;
  min-height: 100%;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px 0;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}

@font-face {
  font-family: "SEGA LOGO FONT";
  font-style: normal;
  font-weight: normal;
  src: local("SEGA LOGO FONT"), url("SEGA.woff") format("woff");
}

#sonic-logo {
  text-align: center;
  font-family: "SEGA LOGO FONT";
  background: -webkit-gradient(white, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: blue; */
  background-color: rgb(241, 78, 105);
  padding: 18px;
  position: relative;
  border-radius: 10px;
}

@media screen and (max-width: 860px) {
  html {
    min-height: 100%;
  }
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    background: url(img/ss.png) no-repeat;
    background-size: 200%;
    background-position: bottom;
    min-height: 100%;
  }
  form {
    padding: 15px;
    margin-top: 130px;
  }
  form button,
  form h5 {
    margin: 50px 0;
  }
  #sonic-logo {
    text-align: justify;
    text-justify: auto;
    position: relative;
    left: -130px;
  }
}

@media screen and (max-width: 600px) {
  html {
    min-height: 100%;
  }
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    background: url(img/sonic-iphone.jpg) no-repeat;
    background-size: 100%;
    background-position: bottom;
    min-height: 100%;
  }
  #sonic-logo {
    text-align: justify;
    text-justify: auto;
    position: relative;
    left: -130px;
  }
  #list-project {
    margin: 0;
    padding: 0;
    position: fixed;
    block-size: 0px;
    left: 0;
  }
  #list-notification {
    margin: 0;
    padding: 0;
    position: fixed;
    block-size: -26px;
    right: 0;
  }
  form {
    padding: 20px;
    margin-top: 130px;
  }
  form button,
  form h5 {
    margin: 20px 0;
  }
}

